@font-face {
    font-family: 'Blood Lust';
    src: url('BloodLust.woff2') format('woff2'),
        url('BloodLust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

